version: "3.9"

services:
  dashboard:
    build: .
    command: streamlit run ui/app.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs

  bot:
    build: .
    command: python main.py
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
